@page "/all"
@using System.Runtime.CompilerServices

<PageTitle>Список футболистов</PageTitle>

<h1>Список футболистов</h1>

<div>
    @if (btnStateByFootballers.Keys.Count == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr class="row">
                <th class="col">ИД</th>
                <th class="col">Имя</th>
                <th class="col">Фамилия</th>
                <th class="col">Пол</th>
                <th class="col">Дата рождения</th>
                <th class="col">Команда</th>
                <th class="col">Страна</th>
                <th class="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var btnStateByFootballer in btnStateByFootballers.Keys)
            {
                <tr class="row">
                    <td class="col">@btnStateByFootballer.Id</td>
                    @if (btnStateByFootballers[btnStateByFootballer])
                    {
                        <input class="col" @bind="@btnStateByFootballer.Name" />
                        <input class="col" @bind="@btnStateByFootballer.Surname" />
                        <select class="col" @bind="btnStateByFootballer.Sex">
                            @if (sexes != null)
                            {
                                @foreach (var sex in sexes)
                                {
                                    <option value="@sex">@sex</option>
                                }
                            }
                        </select>
                        <input class="col" @bind="@btnStateByFootballer.Birthday" />
                        <datalist id="suggestions">
                            @if (teams != null)
                            {
                                @foreach (var team in teams)
                                {
                                    <option value="@team">@team</option>
                                }
                            }
                        </datalist>
                        <input  class="col" @bind="btnStateByFootballer.Team" autoComplete="on" list="suggestions"/>
                        <select class="col" @bind="btnStateByFootballer.Country">
                            @if (countries != null)
                            {
                                @foreach (var country in countries)
                                {
                                    <option value="@country">@country</option>
                                }
                            }
                        </select>
                    }
                    else
                    {
                        <td class="col">@btnStateByFootballer.Name</td>
                        <td class="col">@btnStateByFootballer.Surname</td>
                        <td class="col">@btnStateByFootballer.Sex</td>
                        <td class="col">@btnStateByFootballer.Birthday</td>
                        <td class="col">@btnStateByFootballer.Team</td>
                        <td class="col">@btnStateByFootballer.Country</td>
                    }
                    <td class="col">
                        @if (!btnStateByFootballers[btnStateByFootballer])
                        {
                            <button @onclick="() => btnStateByFootballers[btnStateByFootballer] 
                                                    = !btnStateByFootballers[btnStateByFootballer]">
                                Редактировать
                            </button>
                        }
                        else
                        {
                            <button @onclick="async () => await PutFootballerAsync(btnStateByFootballer)">
                                Ок
                            </button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

@inject IFootballersService service;
@code {
    private Dictionary<FootballerDto, bool> btnStateByFootballers = new Dictionary<FootballerDto, bool>();
    private List<string> countries;
    private List<string> teams;
    private List<string> sexes;

    protected override async Task OnInitializedAsync()
    {
        foreach (var footballer in await service.GetAllAsync())
            btnStateByFootballers.Add(footballer, false);
        countries = new List<string>{""}.Concat(await service.GetCountryNames()).ToList();
        teams = new List<string>{""}.Concat(await service.GetTeamNames()).ToList();
        sexes = new List<string>{""}.Concat(await service.GetSexNames()).ToList();
    }

    private async Task PutFootballerAsync(FootballerDto footballer)
    {
        btnStateByFootballers[footballer] = !btnStateByFootballers[footballer];
        await service.PutAsync(footballer);
    }
}
