@page "/all"
@using System.Runtime.CompilerServices

<PageTitle>Список футболистов</PageTitle>

<h1>Список футболистов</h1>

<div>
    @if (btnStateByFootballers.Keys.Count == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr class="row">
                <th class="col">ИД</th>
                <th class="col">Имя</th>
                <th class="col">Фамилия</th>
                <th class="col">Пол</th>
                <th class="col">Дата рождения</th>
                <th class="col">Команда</th>
                <th class="col">Страна</th>
                <th class="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var btnStateByFootballer in btnStateByFootballers.Keys)
            {
                <tr class="row">
                    <td class="col">@btnStateByFootballer.Id</td>
                    @if (btnStateByFootballers[btnStateByFootballer])
                    {
                        <input class="col" @bind="@btnStateByFootballer.Name" />
                        <input class="col" @bind="@btnStateByFootballer.Surname" />
                        <input class="col" @bind="@btnStateByFootballer.Sex" />
                        <input class="col" @bind="@btnStateByFootballer.Birthday" />
                        <input class="col" @bind="@btnStateByFootballer.Team" />
                        <input class="col" @bind="@btnStateByFootballer.Country" />
                    }
                    else
                    {
                        <td class="col">@btnStateByFootballer.Name</td>
                        <td class="col">@btnStateByFootballer.Surname</td>
                        <td class="col">@btnStateByFootballer.Sex</td>
                        <td class="col">@btnStateByFootballer.Birthday</td>
                        <td class="col">@btnStateByFootballer.Team</td>
                        <td class="col">@btnStateByFootballer.Country</td>
                    }
                    <td class="col">
                        @if (!btnStateByFootballers[btnStateByFootballer])
                        {
                            <button @onclick="() => btnStateByFootballers[btnStateByFootballer] 
                                                    = !btnStateByFootballers[btnStateByFootballer]">
                                Редактировать
                            </button>
                        }
                        else
                        {
                            <button @onclick="async () => await PutFootballerAsync(btnStateByFootballer)">
                                Ок
                            </button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

@inject IFootballersService service;
@code {
    private Dictionary<FootballerDto, bool> btnStateByFootballers = new Dictionary<FootballerDto, bool>();

    protected override async Task OnInitializedAsync()
    {
        foreach (var footballer in await service.GetAllAsync())
            btnStateByFootballers.Add(footballer, false);
    }

    private async Task PutFootballerAsync(FootballerDto footballer)
    {
        btnStateByFootballers[footballer] = !btnStateByFootballers[footballer];
        await service.PutAsync(footballer);
    }
}
